{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">Contact</h2>
    <div class="jumbotron" style="width:100%;">
        <form class="form-group">
            <input type="text" placeholder="Name" class="form-control"><br>
            <input type="text" placeholder="E-Mail" class="form-control"><br>
            <textarea type="text" placeholder="Beschrijf uw vraag/probleem" style="height:200px;" class="form-control"></textarea><br>
            <input type="submit" class="btn btn-secondary">
        </form>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9751.46649169629!2d5.230545484655775!3d52.33656570470667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d10def0cbfc81af!2sFC+Almere!5e0!3m2!1snl!2snl!4v1491128772488" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

{% endblock %}