{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome bij Credito</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Over Ons</a></p>
    </div><br><br>
    <div class="row text-center">
        <div class="col-lg-4">
            <h2 class=""><i class="fa fa-credit-card" aria-hidden="true" style="font-size:65px;"></i><br><br>Creditcard aanvragen</h2>
            <p></p>

            <p><a class="btn btn-primary" href="#" role="button">Meer informatie</a></p>
        </div>
        <div class="col-lg-4">
            <h2><i class="fa fa-building" aria-hidden="true" style="font-size:65px;"></i><br><br>Organisatie Registreren</h2>
            <p></p>
            <p><a class="btn btn-primary" href="#" role="button">Meer informatie</a></p>
        </div>
        <div class="col-lg-4">
            <h2><i class="fa fa-sitemap" aria-hidden="true" style="font-size:65px;"></i><br><br>About us</h2>
            <p></p><br>
            <p><a class="btn btn-primary" href="#" role="button" style="margin-top:13px;">Meer informatie</a></p>
            <br><br>
        </div>
    </div>

{% endblock %}